# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#craftbukkit files
craftbukkit-1.8.4.jar
craftbukkit-1.7.10-R0.1.jar
craftbukkit-1.7.9-R0.2-SNAPSHOT.jar
craftbukkit-1.8.jar
craftbukkit-1.8.3.jar
craftbukkit-1.8.4.jar

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
