# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#craftbukkit files
SkyWarsReloadedPlugin/lib/*
v1_7_R3/lib/*
v1_7_R4/lib/*
v1_8_R1/lib/*
v1_8_R2/lib/*
v1_8_R3/lib/*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

SkyWarsReloadedPlugin/lib/craftbukkit-1.8.4.jar
SkyWarsReloadedPlugin/lib/Multiverse-Core-2.5.jar
v1_7_R3/lib/craftbukkit-1.7.10-R0.1.jar
v1_7_R4/lib/craftbukkit-1.7.9-R0.2-SNAPSHOT.jar
v1_8_R3/lib/craftbukkit-1.8.4.jar
v1_8_R2/lib/craftbukkit-1.8.3.jar
v1_8_R1/lib/craftbukkit-1.8.jar
v1_7_R4/lib/craftbukkit-1.7.9-R0.2-SNAPSHOT.jar
v1_7_R4/lib/craftbukkit-1.7.10-R0.1.jar
v1_7_R3/lib/craftbukkit-1.7.9-R0.2-SNAPSHOT.jar
v1_7_R3/lib/craftbukkit-1.7.10-R0.1.jar
SkyWarsReloadedPlugin/lib/Multiverse-Core-2.5.jar
SkyWarsReloadedPlugin/lib/VoidWorld.jar